<table class="table">
    <tr ng-repeat="u in users">
        <td >
            <span>{{u.Name}}</span>
        </td>
        <td>
            <span>{{u.EGN}}</span>
        </td>
        <td>
            <button class="btn btn-danger" ng-click="deleteUser($event, $index);">-</button>
        </td>
    </tr>
</table>
<form name="myform" ng-submit="myform.$valid && addUser()">
    <div class="row">
        <div class="col-lg-5">
            <input class="form-control" type="text" ng-model="user.name" name="username" required />
            <span ng-show="myform.username.$error.required">Username is required.</span>
        </div>
        <div class="col-lg-5">
            <input class="form-control" type="text" ng-model="user.egn" name="useregn" required ng-minlength="3" />
            <span ng-show="myform.useregn.$error.minlength">Min length 3</span><!--formName.fieldName-->
            <span ng-show="myform.useregn.$error.required">Required</span>
        </div>
        <div class="col-lg-2">
            <!--<button class="btn btn-default btn-sm" ng-click="addUser();">Add</button>-->
            <button type="submit" ng-disabled="myform.$invalid">Add</button>
        </div>
    </div>
</form>
